@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* common styles */
body{
    margin: 0;
    font-family: 'Poppins', sans-serif;
}
header{
    background-color: #2D25A0;
    padding: 100px;
    display: flex;
}
.banner{
    width: 50%;
}
h1{
    color: white;
    font-weight: bold;
    font-size: 64px;
}
a{
    text-decoration: none;
    background-color: #E02C6D;
    color: white;
    box-shadow: #00000019 0px 4px 4px;
    padding: 10px 28px;
}
img{
    width: 100%;
}



/* footer styles */

footer div{
    margin: -10px auto;
    width: 35%;
    display: flex;
    justify-content: center;
}
footer img{
    margin: 30px;
}
.fab{
    font-size: 17px;
    border-radius: 50%;
    padding: 7px;
    color: #969BAB;
    background-color: #e7e7e8;
    margin: 7px;
}

/* media query */
@media screen and (max-width:688px) {
    header{
        padding: 20px;
        flex-direction: column;
    }
    .banner{
        width: 100%;
        margin-bottom: 30px;
    }
    h1{
        color: white;
        font-weight: bold;
        font-size: 36px;
    }
    footer div{
        margin: 0 10px;
        width: 100%;
    }
}