@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* common styles */
body{
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

/* header styles */
header{
    background-color: #2D25A0;
    padding: 100px;
    display: flex;
    align-items: center;
}
.banner{
    width: 50%;
}
h1{
    color: white;
    font-weight: bold;
    font-size: 64px;
    line-height: 80px;
}
.button{
    text-decoration: none;
    background-color: #E02C6D;
    color: white;
    box-shadow: #00000019 0px 4px 4px;
    padding: 10px 28px;
}
img{
    width: 100%;
}
header:hover h1{
    color: rgb(179, 243, 245);
    transition: .5s;
}
header:hover img{
    transform: rotate3d(10, 1, 10, 30deg);
    transition: .35s ease-out;
}
header:hover a{
    color: wheat;
    font-size: 25px;
    font-weight: bold;
    border-radius: 10px;
    transition: .25s;
}
header h1,img,a{
    transition: .5s;
}

/* main section styles */
.main{
    display: flex;
    justify-content: center;
}
.players{
    display: grid;
    grid-template-columns: repeat(3, 1fr );
}
article{
    margin: 15px;
    width: 330px;
    height: 474px;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 15px 15px 30px 15px;
    box-shadow: #0000000f 15px 15px 40px 15px;
}
h2{
    font-weight: bold;
    font-size: 28px;
    line-height: 40px;
    color: #18191F;
}
.player-details{
    font-size: 16px;
    line-height: 26px;
    color: #6C6C6C;
}

/* footer styles */
footer div{
    margin: -10px auto;
    width: 35%;
    display: flex;
    justify-content: center;
}
#logo{
    margin: 30px;
}
.fab{
    font-size: 17px;
    border-radius: 50%;
    padding: 7px;
    color: #969BAB;
    background-color: #e7e7e8;
    margin: 7px;
}
footer p{
    font-size: 18px;
}

/* media query */
@media screen and (max-width:688px) {
    header{
        padding: 20px;
        flex-direction: column;
    }
    .banner{
        width: 100%;
    }
    #banner{
        margin-top: 50px;
        margin-bottom: 20px;
    }
    h1{
        color: white;
        font-weight: bold;
        font-size: 36px;
        line-height: 50px;
    }
    .players{
        grid-template-columns: 1fr;
    }
    footer div{
        margin: 0 15%;
        width: 70%;
    }
}