@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* common styles */
body{
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

/* header styles */
header{
    background-color: #2D25A0;
    padding: 100px;
    display: flex;
    align-items: center;
}
.banner{
    width: 50%;
}
.banner h1{
    color: white;
    font-weight: bold;
    font-size: 64px;
    line-height: 80px;
}
.button{
    text-decoration: none;
    background-color: #E02C6D;
    color: white;
    box-shadow: #00000019 0px 4px 4px;
    padding: 10px 28px;
}
img{
    width: 100%;
}
header:hover h1{
    color: rgb(179, 243, 245);
    transition: .5s;
}
header:hover img{
    transform: rotate3d(10, 1, 10, 30deg) scale(.9);
    transition: .35s ease-out;
}
header:hover a{
    color: whitesmoke;
    font-size: 25px;
    font-weight: bold;
    border-radius: 5px;
    transition: .25s;
}
header h1,img,a{
    transition: .5s;
}

/* main section styles */
.main{
    margin-top: 50px;
    display: flex;
    justify-content: center;
}
.players{
    display: grid;
    grid-template-columns: repeat(3, 1fr );
}
article{
    margin: 15px;
    width: 330px;
    height: 469px;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 15px 15px 30px 15px;
    box-shadow: #0000000f 15px 15px 40px 15px;
}
h2{
    font-weight: bold;
    font-size: 28px;
    line-height: 40px;
    color: #18191F;
}
.player-details{
    font-size: 16px;
    line-height: 26px;
    color: #6C6C6C;
}

/* bonus section styles */
.bonus-section{
    background-color: whitesmoke;
    display: flex;
    justify-content: space-evenly;
}
.pages{
    display: flex;
    align-items: center;
    justify-content: center;
}
.page{
    display: inline-block;
    text-decoration: none;
    color: rgb(63, 59, 59);
    background-color: white;
    padding: 10px 20px;
    border: 1px solid rgb(221, 209, 209);
}
#active{
    background-color: whitesmoke;
    color: #f03a7c;
}
.page:hover {
    background-color: #f03a7c;
    color: white;
}
.signup{
    color: rgb(15, 13, 26);
    display: flex;
    flex-direction: column;
    align-items: center;
}
.signup h1{
    margin-bottom: 0;
}
.signup p,a{
    font-size: 16px;
    color: rgb(71, 71, 71);
    text-align: center;
}
.form{
    width: 90%;
    display: flex;
}
input{
    width: 60%;
    padding: 15px;
    border: 1px solid lightgray;
    border-radius: 1px;
}
button{
    width: 35%;
    background-color: #f03a7c;
    border: none;
    color: white;
    border-radius: 1px;
}

/* footer styles */
footer div{
    margin: -10px auto;
    width: 40%;
    display: flex;
    justify-content: center;
}
#logo{
    margin: 30px;
}
.fab{
    font-size: 17px;
    border-radius: 50%;
    padding: 7px;
    color: #969BAB;
    background-color: #e7e7e8;
    margin: 7px;
}
footer p{
    font-size: 18px;
}

/* media query */
@media screen and (max-width:800px) {
    header{
        padding: 20px;
        flex-direction: column;
    }
    .banner{
        width: 100%;
    }
    #banner{
        margin-top: 50px;
        margin-bottom: 20px;
    }
    .banner h1{
        font-size: 36px;
        line-height: 50px;
    }
    .players{
        grid-template-columns: 1fr;
    }
    .bonus-section{
        flex-direction: column;
        align-items: center;
    }
    footer div{
        margin: 0 15%;
        width: 70%;
    }
}

@media screen and (min-width:801px) and (max-width:1200px) {
    .banner{
        width: 100%;
    }
    .players{
        grid-template-columns: 1fr 1fr;
    }
}